.List {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 12px;
    padding-left: 0;
    margin: 25px 0 0 0;
}

.List>li {
    list-style-type: none;
    background-color: #be4040;
    border: 2px solid #be4040;
    transition: transform 0.4s;
}

.List>li:hover {
    transform: scale(1.06);
}

.List>li>a {
    text-decoration: none;
}

.Title {
    min-height: 45px;
}

.Title>p {
    margin: 2px 0;
    color: white;
    text-align: center;
    font-size: 18px;
}